body {    
    font-family: monospace, Courier, "Lucida Console";
    font-size: 14px;
    line-height: 1.2;
}

a { 
    color: #000; 
    text-decoration: none; 
}
a:hover { 
    text-decoration: underline; 
}

h1, h2 {
    line-height: 1;
}